body {
    background-color: #f8f9fa;
}

textarea {
    resize: none;
}

#logOutput {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    height: 200px;
    overflow-y: scroll;
}
